<html lang="en">	 
<head>
	<meta charset="utf-8">
	<title> Watcher</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
	<script type="text/javascript" src="myController.js"></script>
</head>
<body ng-app="myApp">
	<div ng-controller="myCtrl">
		a = {{a}}<br>
		c = {{c}}<br>
		a = <input type="text" ng-model="a"/><br>
		b = <input type="text" ng-model="b"/>
	</div>	
</body>
</html>	